.CESAtitle{
    color:#280508;
    font-family:'MPLUS1Code_R';
    font-size:80px;
    font-weight: 100;
    text-align: center;
    margin:20% 15% 0%             /*［上］ と ［左右］ と ［下］ を指定*/
}
.CESAsubtitle{
    color: #280508;
    font-size: 20px;
    text-align: center;
    margin: 0% 15% 10%;
}

.mainvisual{
    text-align: center;
    margin:0% 15% 3%;           
}
.mainvisual img{
    width:85%                    /*mainvisualの15%分フルで表示*/
}

.Toollist{
    display: flex;
    justify-content: center;
    margin: 0% 15% 0%;
    padding:0

}
.Tool{
    margin:0% 5% 0%;
}
